@page "/projets/Mediatekformation"

<PageTitle>Portfolio - Mediatekformation</PageTitle>

<a class="location-changer btn btn-outline-primary" role="button" href="projets">
    <span class="bi-arrow-return-left" style="font-size: 1.20rem; margin-right: 0.2rem;"></span>
    Retour aux projets
</a>

<h3 style="padding-top: 0.5rem">Mediatekformation</h3>

Un site internet pour lister des formations en ligne des médiathèques de MediaTek86.

<br/><br/>Étant au sein de l'entreprise InfoTech Services 86, nous sommes chargés de développer un site internet pour exposer les formations en ligne de MediaTek86 aux utilisateurs.
<br/>Le site internet devra utiliser le framework PHP Symfony et le SGBDR MySQL.
<br/>Un premier développeur a commencé le travail sur la partie front-office. Nous devons continuer son travail en passant par la gestion de la qualité de code, le développement de la partie back-office, la création de tests et documentations puis le déploiement du site complet.

<br/><br/><strong>Compétences couvertes du bloc 1 du BTS SIO :</strong>

<ol style="width: fit-content; text-align: left; margin: auto">
    <li style="margin-top: 0.5rem">Gérer le patrimoine informatique</li>
    <li>Répondre aux incidents et aux demandes d’assistance et d’évolution</li>
    <li>Développer la présence en ligne de l’organisation</li>
    <li>Travailler en mode projet</li>
    <li>Mettre à disposition des utilisateurs un service informatique</li>
</ol>

<br/><strong>Compétences couvertes du bloc 2 du BTS SIO :</strong>

<ol style="width: fit-content; text-align: left; margin: auto">
    <li style="margin-top: 0.5rem">Concevoir et développer une solution applicative</li>
    <li>Assurer la maintenance corrective ou évolutive d’une solution applicative</li>
    <li>Gérer les données</li>
</ol>

<div class="d-flex flex-wrap align-items-center justify-content-center g-1 gap-3" style="padding-top: 1.5rem;">
    <div>
        <a class="btn btn-outline-primary" role="button" href="https://mediatekformation.jfrancart.fr" target="_blank">
            <span class="bi-globe2" style="font-size: 1.20rem; margin-right: 0.2rem;"></span>
            Accéder au site
        </a>
    </div>

    <div>
        <a class="btn btn-outline-primary" role="button" href="https://github.com/Refragg/Mediatekformation" target="_blank">
            <span class="bi-github" style="font-size: 1.20rem; margin-right: 0.2rem;"></span>
            Voir sur GitHub
        </a>
    </div>
</div>

<div class="d-flex flex-wrap align-items-center justify-content-center g-1 gap-3" style="padding-top: 1.5rem;">
    <div>
        <a class="btn btn-outline-primary" role="button" href="https://docs.mediatekformation.jfrancart.fr/" target="_blank">
            <span class="bi-text-indent-left" style="font-size: 1.20rem; margin-right: 0.2rem;"></span>
            Documentation technique
        </a>
    </div>

    <div>
        <a class="btn btn-outline-primary" role="button" href="/Files/Projets/Mediatekformation/Compte rendu.pdf" target="_blank">
            <span class="bi-file-text" style="font-size: 1.20rem; margin-right: 0.2rem;"></span>
            Compte rendu
        </a>
    </div>

    <div>
        <a class="btn btn-outline-primary" role="button" href="/Files/Projets/Mediatekformation/Maquettes et diagrammes de cas d'utilisation.zip" target="_blank">
            <span class="bi-download" style="font-size: 1.20rem; margin-right: 0.2rem;"></span>
            Maquettes et diagrammes de cas d'utilisation
        </a>
    </div>
</div>

<div class="d-flex flex-wrap align-items-center justify-content-center g-1 gap-3" style="padding-top: 1.5rem;">
    <div>
        <a class="btn btn-outline-primary" role="button" href="/Files/Projets/Mediatekformation/Contrat de développement.pdf" target="_blank">
            <span class="bi-journal-check" style="font-size: 1.20rem; margin-right: 0.2rem;"></span>
            Contrat de développement
        </a>
    </div>

    <div>
        <a class="btn btn-outline-primary" role="button" href="/Files/Projets/Mediatekformation/Cahier des charges.pdf" target="_blank">
            <span class="bi-journal-check" style="font-size: 1.20rem; margin-right: 0.2rem;"></span>
            Cahier des charges
        </a>
    </div>

    <div>
        <a class="btn btn-outline-primary" role="button" href="/Files/Projets/Mediatekformation/Missions.pdf" target="_blank">
            <span class="bi-journal-check" style="font-size: 1.20rem; margin-right: 0.2rem;"></span>
            Missions
        </a>
    </div>

    <div>
        <a class="btn btn-outline-primary" role="button" href="/Files/Projets/Mediatekformation/PV de recette.pdf" target="_blank">
            <span class="bi-journal-check" style="font-size: 1.20rem; margin-right: 0.2rem;"></span>
            PV de recette
        </a>
    </div>

    <div>
        <a class="btn btn-outline-primary" role="button" href="/Files/Projets/Mediatekformation/Plan de tests.pdf" target="_blank">
            <span class="bi-journal-check" style="font-size: 1.20rem; margin-right: 0.2rem;"></span>
            Plan de tests
        </a>
    </div>
</div>

<br/>Documentation utilisateur :

<div class="embed-responsive embed-responsive-16by9" style="width: 90%; margin: 1rem auto auto auto; aspect-ratio: 16/9">
    <video controls class="embed-responsive-item" style="width: 100%; height: 100%" poster="/Files/Projets/Mediatekformation/Miniature documentation utilisateur.png">
        <source src="/Files/Projets/Mediatekformation/Documentation utilisateur.mp4"/>
    </video>
</div>