@page "/projets/Portfolio"

<PageTitle>Portfolio - A propos</PageTitle>

<a class="location-changer btn btn-outline-primary" role="button" href="projets">
    <span class="bi-arrow-return-left" style="font-size: 1.20rem; margin-right: 0.2rem;"></span>
    Retour aux projets
</a>

<h3 style="padding-top: 0.5rem">A propos de ce portfolio</h3>

J'ai réalisé ce portfolio de A à Z en utilisant <a href="https://learn.microsoft.com/en-us/aspnet/core/introduction-to-aspnet-core?view=aspnetcore-8.0" target="_blank">ASP.NET Core</a> et plus particulièrement <a href="https://learn.microsoft.com/fr-fr/aspnet/core/blazor/?view=aspnetcore-8.0" target="_blank">Blazor</a>.
<br/>Ces derniers sont des frameworks développés par Microsoft dans leur écosystème <a href="https://dotnet.microsoft.com/en-us/" target="_blank">.NET</a>.

<br/><br/>Cette option a été choisie car l'écosystème .NET est celui avec lequel je suis le plus familier, on se retrouve donc avec une pile HTML, CSS, JS pour la partie client et C# pour la partie serveur.

<br/><br/>Je m'intéresse normalement plus à la partie backend que frontend des applications mais j'ai pu apprendre beaucoup de choses intéressantes durant la construction de ce portfolio notamment sur l'utilisation de transitions, d'animations mais aussi l'adaptation du contenu à tous type de clients (oui, ce portfolio s'adapte aux téléphones et est compatible sans JavaScript !)

<br/><br/>Ce portfolio est hébergé sur un VPS que je loue en passant par un proxy inversé qui utilise <a href="https://microsoft.github.io/reverse-proxy/index.html" target="_blank">YARP</a>. L'application est aussi containerisée avec <a href="https://www.docker.com/" target="_blank">Docker</a> pour faciliter la gestion des ressources et permettre un déploiement sur n'importe quelle machine.

<div style="padding-top: 0.5rem">
    <a class="btn btn-outline-primary" role="button" href="https://github.com/Refragg/Portfolio" target="_blank">
        <span class="bi-github" style="font-size: 1.20rem; margin-right: 0.2rem;"></span>
        Voir sur GitHub
    </a>
</div>

@code {
    
}