@page "/Projets/OpenSource"

<PageTitle>Portfolio - Open source</PageTitle>

<a class="location-changer btn btn-outline-primary" role="button" href="projets">
    <span class="bi-arrow-return-left" style="font-size: 1.20rem; margin-right: 0.2rem;"></span>
    Retour aux projets
</a>

<h3 style="padding-top: 0.5rem">Contributions à l'open source</h3>

Cette page rassemble quelques contributions notables que j'ai pu effectuer pour des projets open source durant mon temps libre.<br/><br/>

<h4>LiveSplit</h4>

En cliquant sur le lien ci-dessous, vous trouverez les contributions que j'ai pu apporter a différentes applications de l'organisation LiveSplit.<br/>
Cela inclut des corrections de bugs, des ajouts de fonctionnalités. Les contributions les plus notables ont été dans l'application obs-livesplit-one en Rust qui a permi de beaucoup améliorer l'usabilité de l'application.<br/>

<div style="padding-top: 0.5rem">
    <a class="btn btn-outline-primary" role="button" href="https://github.com/search?q=org%3ALiveSplit+is%3Apr+author%3Arefragg&type=pullrequests&p=1" target="_blank">
        <span class="bi-github" style="font-size: 1.20rem; margin-right: 0.2rem;"></span>
        Voir sur GitHub - LiveSplit
    </a>
</div><br/>

<h4>SerenityOS</h4>

SerenityOS est un système d'exploitation créé de A à Z sans s'aider de bibliothèques externes. Ce projet utilise principalement le langage C++.<br/>
En cliquant sur le lien ci-dessous, vous trouverez la contribution que j'ai pu apporter à ce projet.<br/>
Cette contribution consiste à l'ajout d'un portage d'un jeu open source, ce jeu est maintenant rendu jouable sur ce système d'exploitation après quelques modifications du code source original.<br/>

<div style="padding-top: 0.5rem">
    <a class="btn btn-outline-primary" role="button" href="https://github.com/SerenityOS/serenity/pulls?q=is%3Apr+is%3Amerged+author%3Arefragg" target="_blank">
        <span class="bi-github" style="font-size: 1.20rem; margin-right: 0.2rem;"></span>
        Voir sur GitHub
    </a>
</div>

<div style="padding-top: 0.5rem">
    <a class="btn btn-outline-primary" role="button" href="https://youtu.be/pWFLLLUWrMQ?t=147" target="_blank">
        <span class="bi-youtube" style="font-size: 1.20rem; margin-right: 0.2rem;"></span>
        Voir sur YouTube - Démonstration (2:27)
    </a>
</div><br/>

<h4>Contributions mineures dans des bibliothèques C#</h4>

J'ai rencontré un problème lors de l'utilisation d'une bibliothèque populaire s'appelant DSharpPlus permettant d'intéragir avec la plateforme Discord.<br/>
J'ai décidé d'essayer de chercher et régler le problème de moi-même. Après avoir testé ma solution, j'ai pu la soumettre au projet.<br/>

<div style="padding-top: 0.5rem">
    <a class="btn btn-outline-primary" role="button" href="https://github.com/DSharpPlus/DSharpPlus/pull/1402" target="_blank">
        <span class="bi-github" style="font-size: 1.20rem; margin-right: 0.2rem;"></span>
        Voir sur GitHub
    </a>
</div><br/>

Lors d'essais et de projets de test, j'ai utilisé la bibliothèque SDL2-CS qui est une interface entre la bibliothèque SDL2 et le langage C#.<br/>
J'ai rencontré certaines fonctionalités et fonctions que je souhaitait utiliser soit non implémentées, soit erronées et j'ai décidé de les implémenter dans le projet afin de pouvoir ensuite les utiliser de mon côté.

<div style="padding-top: 0.5rem">
    <a class="btn btn-outline-primary" role="button" href="https://github.com/flibitijibibo/SDL2-CS/pulls?q=is%3Apr+is%3Amerged+author%3Arefragg" target="_blank">
        <span class="bi-github" style="font-size: 1.20rem; margin-right: 0.2rem;"></span>
        Voir sur GitHub
    </a>
</div><br/>

<h4>Autres contributions</h4>

Le lien ci-dessous vous emmènera vers la liste de toutes les pull requests acceptées que j'ai contribué sur GitHub<br/>
<strong>Attention : cette fonctionnalité peut ne pas fonctionner si vous n'êtes pas connecté sur GitHub</strong><br/>
(vous pouvez aussi vous rendre sur mon profil GitHub en cliquant sur le lien dans le menu de navigation)<br/>

<div style="padding-top: 0.5rem">
    <a class="btn btn-outline-primary" role="button" href="https://github.com/pulls?page=1&q=is%3Apr+author%3Arefragg+is%3Amerged" target="_blank">
        <span class="bi-github" style="font-size: 1.20rem; margin-right: 0.2rem;"></span>
        Voir sur GitHub
    </a>
</div>

@code {
    
}