@page "/projets/PersonnelManager"

<PageTitle>Portfolio - PersonnelManager</PageTitle>

<a class="location-changer btn btn-outline-primary" role="button" href="projets">
    <span class="bi-arrow-return-left" style="font-size: 1.20rem; margin-right: 0.2rem;"></span>
    Retour aux projets
</a>

<h3 style="padding-top: 0.5rem">PersonnelManager - Gestionnaire de personnel</h3>

Une application pour gérer le personnel et leurs absences dans une entreprise

<br/><br/>Étant au sein de l'entreprise InfoTech Services 86, nous sommes chargés de développer une application de gestion de personnel pour MediaTek86.
<br/>L'aplication demandée est une application monoposte de bureau, cette application devra être codée en C# et interagir avec la base de données du personnel de l'entreprise.

<br/><br/>Documentation utilisateur :

<div class="embed-responsive embed-responsive-16by9" style="width: 90%; height: 42vw; margin: auto">
    <iframe class="embed-responsive-item" src="/Files/Projets/PersonnelManager/Documentation utilisateur.mp4" style="width: 100%; height: 100%"></iframe>
</div>

<div style="padding-top: 0.5rem">
    <a class="btn btn-outline-primary" role="button" href="https://personnelmanager.jfrancart.fr" target="_blank">
        <span class="bi-text-indent-left" style="font-size: 1.20rem; margin-right: 0.2rem;"></span>
        Documentation technique
    </a>
</div>

<div style="padding-top: 0.5rem">
    <a class="btn btn-outline-primary" role="button" href="/Files/Projets/PersonnelManager/Compte rendu.pdf" target="_blank">
        <span class="bi-journal-check" style="font-size: 1.20rem; margin-right: 0.2rem;"></span>
        Compte rendu
    </a>
</div>

<div style="padding-top: 0.5rem">
    <a class="btn btn-outline-primary" role="button" href="https://github.com/Refragg/PersonnelManager" target="_blank">
        <span class="bi-github" style="font-size: 1.20rem; margin-right: 0.2rem;"></span>
        Voir sur GitHub
    </a>
</div>