@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu/>
    </div>

    <main>
        <article class="content px-4" style="margin-bottom: 2rem">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    Une erreur non gérée s'est produite.
    <a href="" class="reload">Recharger</a>
    <a class="dismiss">🗙</a>
</div>