<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="location-changer navbar-brand" href="">Portfolio<br/>FRANCART Jérémy</a>
    </div>
</div>

<nav class="navbar navbar-default" style="display: contents">
    <input id="toggler" data-bs-toggle="collapse" data-bs-target="#menu" aria-controls="menu" type="checkbox" title="Navigation menu" class="navbar-toggler"/>
    
    <div class="collapse navbar-collapse" id="menu" data-bs-parent="#toggler">
        <div class="nav-item px-3">
            <NavLink class="location-changer nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi-nav-menu bi-house-door-fill" aria-hidden="true"></span> Accueil
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="location-changer nav-link" href="projets" Match="NavLinkMatch.Prefix">
                <span class="bi-nav-menu bi-folder-check" aria-hidden="true"></span> Projets
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="location-changer nav-link" href="cv">
                <span class="bi-nav-menu bi-file-text" aria-hidden="true"></span> CV
            </NavLink>
        </div>
        
        <div class="d-flex socials justify-content-center">
            <a class="navbar-bottom-line-item align-self-center" href="https://github.com/Refragg" target="_blank" style="">
                <span class="d-flex bi-socials bi-github align-self-center" style="color: white"></span>
            </a>
            <a class="navbar-bottom-line-item align-self-center" href="https://www.linkedin.com/in/j%C3%A9r%C3%A9my-francart-80a299290/" target="_blank" style="">
                <span class="d-flex bi-socials bi-linkedin align-self-center" style="color: white"></span>
            </a>
        </div>
    </div>
</nav>