@page "/cv"

<PageTitle>Portfolio - Curriculum Vitae</PageTitle>

<link href="aos/aos-delays.css" rel="stylesheet">
<link href="aos/aos.css" rel="stylesheet">
<script src="aos/aos.js"></script>
<script>AOS.init();</script>

<noscript>
    <style>
        #img-cv {
            opacity: 1 !important;
            transition: all 0.3s !important;
            transform: none !important;
        }
    </style>
</noscript>

<style>
    @@media (max-width: 640.98px) {
        .line-item {
            padding: 0.5rem 0.5rem;
        }
    }
    
    @@media (min-width: 641px) {
        .line-item {
            padding: 0.5rem 3rem;
        }
    }

    article {
        overflow: hidden;
    }
    #img-cv {
        max-width: 90%;
        width: 90%;
        box-shadow: 0px 0px 20px black;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
</style>

<div class="d-flex justify-content-center">
    <div class="d-flex line-item align-items-center">
        <h4 style="margin: auto;">Curriculum Vitae</h4>
    </div>
    <div class="d-flex line-item align-items-center">
        <a class="btn btn-outline-primary" role="button" href="files/CV.pdf" download="CV FRANCART Jérémy.pdf">
            <span class="bi-download" style="font-size: 1.20rem; margin-right: 0.2rem;"></span>
            Télécharger
        </a>
    </div>
</div>

<img class="img-fluid" data-aos="fade-right" id="img-cv" src="files/CV.svg"/>
