@page "/Error"
@using Microsoft.AspNetCore.WebUtilities

<PageTitle>Portfolio - Erreur</PageTitle>

<!-- Put page contents in the middle of the page
<style> main { margin: auto; } </style>
-->

@switch (code)
{
    case StatusCodes.Status404NotFound:
        <h1 class="text-warning">Erreur : Ressource non trouvée</h1>
        <h2 class="text-warning">La ressource demandée n'a pas été trouvée.</h2>
        break;
    case StatusCodes.Status403Forbidden:
    case StatusCodes.Status401Unauthorized:
        <h1 class="text-warning">Erreur : Non autorisé</h1>
        <h2 class="text-warning">Vous ne pouvez pas accéder à la ressource demandée.</h2>
        break;
    default:
        var description = ReasonPhrases.GetReasonPhrase(code);
        description = description == string.Empty ? "Inconnue" : description;

        <h1 class="text-warning">Erreur : @description</h1>
        <h2 class="text-warning">Une erreur s'est produite lors du traitement de votre requête.</h2>
        break;
}

<a class="location-changer btn btn-outline-primary" role="button" href="/" style="margin-top: 0.5rem">
    <span class="bi-arrow-return-left" style="font-size: 1.20rem; margin-right: 0.2rem;"></span>
    Retour a l'accueil
</a>

@code {
    [SupplyParameterFromQuery] [Parameter] public int code { get; set; } = 0;
}