@page "/"

<PageTitle>Portfolio - Accueil</PageTitle>

<h3>Portfolio de <b>FRANCART Jérémy</b></h3>

Bienvenue sur mon portfolio !<br/>
<u><strong>Les différentes sections sont encore en construction !</strong></u>