@page "/"

<link rel="stylesheet" href="tooltip.css">
<script src="tooltip.js"></script>

<PageTitle>Portfolio - Accueil</PageTitle>

<h3>Portfolio de <b>FRANCART Jérémy</b></h3>

Bienvenue sur mon portfolio !<br/>
Je suis un étudiant en <span data-bs-toggle="tooltip" data-bs-title="Brevet de technicien supérieur">BTS</span> <span data-bs-toggle="tooltip" data-bs-title="Services informatiques aux organisations">SIO</span> en option <span data-bs-toggle="tooltip" data-bs-title="Solution logicielles et applications métiers">SLAM</span> passionné par le développement d'outils et d'applications.<br/><br/>

Vous pouvez cliquer sur les différentes sections du menu pour accéder a des présentations, mes réalisations, mes compétences...<br/><br/>

<u><strong>Attention: Les différentes sections de ce portfolio sont encore en construction !</strong></u>